@model Restaurant
@{
    var restaurant = Model;
}

<div style="margin-left:350px; margin-top:50px;">
    <img src="~/images/restaurants/@restaurant.ImagePath" height="200" width="200" />
    <p>Name: @restaurant.Name</p>
    <p>Address: @restaurant.Address</p>
    <p>Zip Code: @restaurant.State</p>
    <p>Reservations: @restaurant.Stats.Reservations</p>
    <p>Wait Time: @restaurant.Stats.WaitTime  minutes</p>
    <p>Current Customers: @restaurant.Stats.Customers</p>

</div>
