@model Restaurant
@{
    var restaurant = Model;
}

<div>
    <img src="~/images/restaurants/@restaurant.ImagePath" style="max-width: 300px; max-height: 300px; margin-bottom: 30px;" />
    <p>Name: @restaurant.Name</p>
    <p>Address: @restaurant.Address</p>
    <p>Zip Code: @restaurant.ZipCode</p>
    <p>Reservations: @restaurant.Stats.Reservations</p>
    <p>Wait Time: @restaurant.Stats.WaitTime  minutes</p>
    <p>Current Customers: @restaurant.Stats.Customers</p>

    @{
        List<SelectListItem> list = new List<SelectListItem>();
    }

    @foreach (var table in restaurant.Tables)
    {
        if (!table.IsTaken)
        {
            list.Add(new SelectListItem
            {
                Text = table.TableName,
                Value = table.TableName

            });
        }
    }

    <div id="dropdown">
        @Html.DropDownListFor(model => model.Id, list, "Reserve a table", new { onchange = "reserveTable(this.value)" })
    </div>

</div>

<script>
    function reserveTable(value) {
        reload();
    }

    function reload() {
        var container = document.getElementById("dropdown");
        var content = container.innerHTML;
        container.innerHTML = content;
    }
</script>
