@model Restaurant
@{
    var restaurant = Model;
}

@{
    ViewData["Title"] = "Dashboard";
}

<!--Sidebar-->
<body>

    <div class="content">
        <div class="row dashboard">
            <div class="sidebar">
                <div class="sidebar-title">
                    <img src="~/images/restaurants/@restaurant.ImagePath" /> @restaurant.Name
                </div>
                <div class="sidebar-links">
                    <a class="active-link" onclick="loadPage(@restaurant.Id, 'DashOverview');"><i class="fas fa-list-alt"></i> Overview</a>
                    <a class="" onclick="loadPage(@restaurant.Id, 'DashStatistics');"><i class="fas fa-chart-bar"></i> Statistics</a>
                    <a class="" onclick="loadPage(@restaurant.Id, 'DashFloorplan');"><i class="fas fa-desktop"></i> Floor Plan</a>
                    <a class="" onclick="loadPage(@restaurant.Id, 'DashProfile');"><i class="fas fa-user-circle"></i> Profile</a>
                    <a class="" onclick="loadPage(@restaurant.Id, 'DashSettings');"><i class="fas fa-cog"></i> Settings</a>
                    <a href="~/Restaurant/List"><i class="fas fa-arrow-left"></i>Return to Home</a>
                </div>
            </div>
            <div id="dashboardView" class="main-content">
                @Html.Partial("~/Views/Restaurant/DashOverview.cshtml")
            </div>
        </div>
    </div>
</body>

<style>

    .main-content {
        position: fixed;
        top: 52px;
        left: 300px;
        padding: 50px;
        height: calc(100% - 152px);
        width: calc(100% - 400px);
    }

    footer.global-footer {
        display: none;
    }

    .sidebar {
        position: fixed;
        top: 52px;
        left: 0;
        width: 300px;
        background: #111;
        color: #fff;
        height: calc(100% - 52px);
    }

    .sidebar-title {
        padding: 20px;
        border-bottom: 1px #333 solid;
        font-size: 20px;
        font-weight: 300;
    }

    .sidebar-title img {
        max-height: 50px;
        max-width: 50px;
        border-radius: 5px;
        margin-right: 10px;
        background: #fff;
    }

    .sidebar-links a {
        display: block;
        padding: 20px;
        border-bottom: 1px #333 solid;
        color: #fff;
        cursor: pointer;
    }

    .siderbar-links a.active-link {
        background-color: #222 !important;
    }

    .sidebar-links a:hover {
        background-color: #222;
    }

    .sidebar-links a i {
        width: 24px;
        margin-right: 10px;
        font-size: 16px;
        text-align: center;
    }

</style>








