@model DashOverview
@{
    var restaurant = Model.Restaurant;
    string urlBase = "https://seatednow.blob.core.windows.net/seatednow/";
    string urlRestaurantFloorplan = Model.Restaurant.Id + Model.Restaurant.Name + "Floorplan.png";
    string urlFullFloorplan = urlBase + urlRestaurantFloorplan;
    
}

@{ 
    string ToSectionName(int i)
    {
        foreach(var section in restaurant.Sections)
        {
            if(section.Id == i)
            {
                return section.Name;
            }

        }

        return ("Generic");
    }
}


<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <h2 class="display-4" style="font-size: 40px;">@restaurant.Name Seat Management</h2>
    @if (TempData["successMessage"] != null)
    {
        <div class="text-success">Your settings have been saved successfully!</div>
    }
    <div class="row" style="margin-top: 30px; max-width: 1000px;">
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                <b>Current wait time:</b> @restaurant.Stats.WaitTime  minutes
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px; max-width: 1000px;">
        <div class="col-lg-6">
            <div class="available-tables" style="background: #111; padding: 20px; border-radius: 5px;">
                <h3 class="display-4" style="font-size: 30px;">Available Seats</h3>
                <hr style="border-color: #333; margin-left: -20px; margin-right: -20px;" />

                @{
                    if (restaurant.Sections == null)
                    {
                        <div class="restaurant-section">
                            <h5 style="font-weight: 700;">No Sections Yet!</h5>
                        </div>
                    }
                    else
                    {
                        foreach (var s in restaurant.Sections)
                        {
                            <div class="restaurant-section">
                                <h5 style="font-weight: 700;">@s.Name</h5>
                                <form asp-action="Occupy">
                                    @foreach (var table in restaurant.Tables)
                                    {
                                        if ((table.Section == s.Id) && (!table.IsTaken))
                                        {
                                            //<button type="submit" class="btn btn-success" style="margin-top:5px;" name="table_id" value="@table.TableId">@table.TableName</button>
                                            <button type="button" class="open-AddReservation btn btn-success" data-id="@table.TableName" style="margin-top:5px;" data-toggle="modal" data-target="#reserveSeat">@table.TableName</button>
                                        }

                                    }
                                </form>
                            </div>
                        }
                    }

                }
            </div>
        </div>
        <div class="col-lg-6">
            <div class="unavailable-tables" style="background: #111; padding: 20px; border-radius: 5px;">
                <h3 class="display-4" style="font-size: 30px; margin-bottom: 15px;">Seats in Use</h3>
                <hr style="border-color: #333; margin-left: -20px; margin-right: -20px;" />
                @{
                    if (restaurant.Sections == null)
                    {
                        <div class="restaurant-section">
                            <h5 style="font-weight: 700;">No Sections Yet!</h5>
                        </div>
                    }
                    else
                    {
                        foreach (var s in restaurant.Sections)
                        {
                            <div class="restaurant-section">
                                <h5 style="font-weight: 700;">@s.Name</h5>
                                <form asp-action="Free">
                                    @foreach (var table in restaurant.Tables)
                                    {
                                        if ((table.Section == s.Id) && table.IsTaken)
                                        {
                                            <button type="submit" class="btn btn-danger" style="margin-top:5px;" name="table_name" id="table_name" value="@table.TableName">@table.TableName</button>
                                        }

                                    }
                                </form>
                            </div>
                        }
                    }

                }
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px; max-width: 1000px;">
        <div class="col-lg-6">
            <div class="available-tables" style="background: #111; padding: 20px; border-radius: 5px;">
                <h3 class="display-4" style="font-size: 30px;">Reservations</h3>
                <hr style="border-color: #333; margin-left: -20px; margin-right: -20px;" />
                <table>
                    <tr>
                        <td style="padding-right:120px;"><i>Name</i></td>
                        <td style="padding-right:120px;"><i>Party Size</i></td>
                        <td><i>Table</i></td>
                    </tr>
                
                @foreach(var reservation in Model.Reservations)
                {
                    <tr style="border-bottom:1px solid white; border-top:1px solid white;">
                        <td><i>@reservation.Name</i></td>
                        <td><i>@reservation.Guests</i></td>
                        <td><i>@reservation.TableName</i></td>
                    </tr>

                }
                </table>
            </div>
        </div>
    </div>

        <div class="modal fade" id="reserveSeat" tabindex="-1" role="dialog" aria-labelledby="reserveSeat" aria-hidden="true" style="margin-top:10%;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color:black;">Reserve a Seat</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="RestaurantReserve" method="get">
                            <div class="form-group">
                                <label class="form-inline my-2 my-lg-0" style="color:black;">Table</label>
                                <input type="text" class="form-control white-bg" id="tableId" name="tableId">
                            </div>
                            <label for="reservePartySize" style="color:black; margin-top:15px;">Party Size</label>
                            <select id="guests" name="guests" class="form-control white-bg">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>

                            <div class="form-group" style="display:none;">
                                <select id="restaurantId" name="restaurantId" class="form-control white-bg">
                                    <option value="@Model.Restaurant.Id"></option>
                                </select>
                            </div>

                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-top:30px;">Close</button>
                            <button type="submit" class="btn btn-success" style="margin-top:30px;">Confirm reservation</button>
                        </form>
                    </div>

                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
</body>

<div>

    @{
        List<SelectListItem> list = new List<SelectListItem>();
    }

    @foreach (var table in restaurant.Tables)
    {
        if (!table.IsTaken)
        {
            list.Add(new SelectListItem
            {
                Text = table.TableName,
                Value = table.TableName

            });
        }
    }

</div>

<script>
    function reserveTable(value) {
        reload();
    }

    function reload() {
        var container = document.getElementById("dropdown");
        var content = container.innerHTML;
        container.innerHTML = content;
    }

    $(document).on("click", ".open-AddReservation", function () {
        var myReserveId = $(this).data('id');
        $(".modal-body #tableId").val(myReserveId);
        
    });
</script>
