@model Restaurant
@{
    var restaurant = Model;
}


<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <h2 class="display-4" style="font-size: 40px;">@restaurant.Name Seat Management</h2>
    <div class="row" style="margin-top: 30px; max-width: 1000px;">
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                <b>Current wait time:</b> @restaurant.Stats.WaitTime  minutes
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px; max-width: 1000px;">
        <div class="col-lg-6">
            <div class="available-tables" style="background: #111; padding: 20px; border-radius: 5px;">
                <h3 class="display-4" style="font-size: 30px;">Available Seats</h3>
                <hr style="border-color: #333; margin-left: -20px; margin-right: -20px;" />
                          
                @{ 
                    if(restaurant.Sections == null)
                    {
                        <div class="restaurant-section">
                            <h5 style="font-weight: 700;">No Sections Yet!</h5>
                        </div>
                    }
                    else
                    {
                        foreach(var s in restaurant.Sections)
                        {
                            <div class="restaurant-section">
                                <h5 style="font-weight: 700;">@s.Name</h5>
                                <form asp-action="Occupy">
                                @foreach(var table in restaurant.Tables)
                                {
                                    if((table.Section == s.Id) && !table.IsTaken)
                                    {
                                        <button type="submit" class="btn btn-success" style="margin-top:5px;" name="table_id" value="@table.TableId">@table.TableName</button>
                                    }
                                
                                }
                                </form>
                            </div>
                        }
                    }
                    
                }
            </div>
        </div>
        <div class="col-lg-6">
            <div class="unavailable-tables" style="background: #111; padding: 20px; border-radius: 5px;">
                <h3 class="display-4" style="font-size: 30px; margin-bottom: 15px;">Seats in Use</h3>
                <hr style="border-color: #333; margin-left: -20px; margin-right: -20px;" />
                @{ 
                    if(restaurant.Sections == null)
                    {
                        <div class="restaurant-section">
                            <h5 style="font-weight: 700;">No Sections Yet!</h5>
                        </div>
                    }
                    else
                    {
                        foreach(var s in restaurant.Sections)
                        {
                            <div class="restaurant-section">
                                <h5 style="font-weight: 700;">@s.Name</h5>
                                <form asp-action="Free">
                                @foreach(var table in restaurant.Tables)
                                {
                                    if((table.Section == s.Id) && table.IsTaken)
                                    {
                                        <button type="submit" class="btn btn-danger" style="margin-top:5px;" name="table_id" value="@table.TableId">@table.TableName</button>
                                    }
                                
                                }
                                </form>
                            </div>
                        }
                    }
                    
                }
            </div>
        </div>
    </div>
</body>

<div>

    @{
        List<SelectListItem> list = new List<SelectListItem>();
    }

    @foreach (var table in restaurant.Tables)
    {
        if (!table.IsTaken)
        {
            list.Add(new SelectListItem
            {
                Text = table.TableName,
                Value = table.TableName

            });
        }
    }

</div>

<script>
    function reserveTable(value) {
        reload();
    }

    function reload() {
        var container = document.getElementById("dropdown");
        var content = container.innerHTML;
        container.innerHTML = content;
    }
</script>
