@model Restaurant
@{
    var restaurant = Model;
}

@{
    ViewData["Title"] = "Dashboard";

    string urlBase = "https://seatednow.blob.core.windows.net/seatednow/";
    string urlRestaurantLogo = Model.Id + Model.Name + "Logo.png";
    string urlFullLogo = urlBase + urlRestaurantLogo;
}

<!--Sidebar-->
<body>

    <div class="content">
        <div class="row">
            <div class="sidebar">
                <a href="/restaurant/listing/@restaurant.Id" target="_blank" style="color: #fff;">
                    <div class="sidebar-title">
                        <img src="@urlFullLogo" /> @restaurant.Name
                    </div>
                </a>
                <div class="sidebar-links">
                    <a class="active-link" onclick="loadPage(@restaurant.Id, 'DashOverview');"><i class="fas fa-list-alt"></i> Manage Seats</a>
                    <a class="" onclick="loadPage(@restaurant.Id, 'DashStatistics'); loadPage(@restaurant.Id, 'DashStatistics');"><i class="fas fa-chart-bar"></i> Information</a>
                    <a class="" onclick="loadPage(@restaurant.Id, 'DashFloorplan');"><i class="fas fa-desktop"></i> Floor Plan</a>

                    <a data-toggle="collapse" href="#settings-collapse"><i class="fas fa-cog"></i> Settings</a>
                    <div class="collapse" id="settings-collapse">
                        <a class="" onclick="loadPage(@restaurant.Id, 'DashSettingsContact');"><i class="fas fa-angle-right"></i> Contact Settings</a>
                        <a class="" onclick="loadPage(@restaurant.Id, 'DashSettingsProfile');"><i class="fas fa-angle-right"></i> Profile Settings</a>
                        <a class="" onclick="loadPage(@restaurant.Id, 'DashSettingsHours');"><i class="fas fa-angle-right"></i> Store Hours</a>
                    </div>

                    <a href="~/Restaurant/List"><i class="fas fa-arrow-left"></i>Return to Home</a>
                </div>
            </div>
            <div id="dashboardView" class="main-content">
                <script>
                    loadPage(@restaurant.Id, 'DashOverview');
                </script>
            </div>
        </div>
    </div>
</body>

<style>

    nav.navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99999;
    }

    .main-content {
        position: absolute;
        top: 52px;
        left: 300px;
        padding: 50px;
        height: calc(100% - 52px);
        width: calc(100% - 300px);
        overflow-y: scroll;
        background: #222;
        color: #fff;
    }

    footer.global-footer {
        display: none;
    }

    .sidebar {
        position: fixed;
        top: 52px;
        left: 0;
        width: 300px;
        background: #111;
        color: #fff;
        height: calc(100% - 52px);
    }

    .sidebar-title {
        padding: 20px;
        border-bottom: 1px #333 solid;
        font-size: 20px;
        font-weight: 300;
    }

    .sidebar-title img {
        max-height: 50px;
        max-width: 50px;
        border-radius: 5px;
        margin-right: 10px;
        background: #fff;
    }

    .sidebar-links a {
        display: block;
        padding: 20px;
        border-bottom: 1px #333 solid;
        color: #fff;
        cursor: pointer;
    }

    .sidebar-links a:hover {
        background-color: #1a1a1a;
    }

    .sidebar-links #settings-collapse a {
        background: #0a0a0a;
        padding: 10px 20px;
        font-size: 14px;
    }

    .sidebar-links #settings-collapse a:hover {
        background-color: #1a1a1a;
    }

    .sidebar-links a i {
        width: 24px;
        margin-right: 10px;
        font-size: 16px;
        text-align: center;
    }

    .sidebar-links #settings-collapse a i {
        width: 14px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
        text-align: center;
    }

</style>








