@model List<RestaurantListViewModel>

@{
    ViewData["Title"] = "Reservations made simple";
}

<div class="container-fluid body-content sn-image sn8 fade70" style="color: #fff; padding: 100px 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 style="text-align: center; margin-bottom: 20px; font-size: 48px;" class="display-4">What are you craving?</h2>
                <form class="form-inline my-2 my-lg-0" style="max-width: 700px; margin: 0 auto;">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search for a restaurant or keyword" aria-label="Search" style="width: calc(100% - 80px);">
                    <button class="btn btn-sn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background: #f0f0f0;">
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-lg-8 text-center text-sm-left">
                <div class="sn-top-keywords">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <h4 class="keyword-title">Today's Top Keywords</h4>
                            <button type="button" class="btn btn-outline-light">italian</button>
                            <button type="button" class="btn btn-outline-light">casual</button>
                            <button type="button" class="btn btn-outline-light">burgers</button>
                            <button type="button" class="btn btn-outline-light">mexican</button>
                            <button type="button" class="btn btn-outline-light">salad</button>
                            <button type="button" class="btn btn-outline-light">tacos</button>
                            <button type="button" class="btn btn-outline-light">formal</button>
                            <button type="button" class="btn btn-outline-light">american</button>
                            <button type="button" class="btn btn-outline-light">outdoor</button>
                            <button type="button" class="btn btn-outline-light">chinese</button>
                            <button type="button" class="btn btn-outline-light">thai</button>
                        </div>
                    </div>
                </div>
                <h2 style="margin-bottom: 20px; font-size: 26px; font-weight: 700;">Most Recently Reserved Restaurants</h2>

                @foreach(var restaurant in Model) {
                <!-- RESTAURANT LISTING -->
                <div class="sn-listing">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="/">
                                    <img src="~/images/restaurants/@restaurant.ImagePath" alt="@restaurant.Name" onerror="this.style.display='none'" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-sm-left">
                            <h3 class="restaurant-title"><a href="/">@restaurant.Name</a></h3>
                            <span class="restaurant-location"><a href="/">@restaurant.Address, @restaurant.City, @restaurant.State @restaurant.ZipCode</a></span>
                            <div class="keywords">
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <div class="ratings">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <a class="ratings-link" href="/">Based on 12 reviews</a>
                            </div>
                            <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                        </div>
                    </div>
                </div>
                }


            </div>
            <div class="col-lg-4">
                <div class="sn-sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 style="font-size: 24px; font-weight: 700; margin-bottom: 20px;">Your Recent Reservations</h5>
                            <div class="recent-reservations">
                                <!-- RECENT RESTAURANT LISTING -->
                                <div class="row recent-restaurant align-items-start">
                                    <div class="col-lg-3" style="padding: 0; margin-top: 5px;">
                                        <div class="logo">
                                            <a href="/">
                                                <img src="~/images/restaurants/tacobell.png" alt="Restaurant Title" onerror="this.style.display='none'" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" style="padding-right: 0;">
                                        <h5>Restaurant Title</h5>
                                        <p>Reserved on 02/04/17</p>
                                        <p class="small-info">For 4 people in the Booth section</p>
                                        <button type="button" class="btn btn-dark btn-sm">Reserve Again</button>
                                    </div>
                                </div>
                                <!-- RECENT RESTAURANT LISTING -->
                                <div class="row recent-restaurant align-items-start">
                                    <div class="col-lg-3" style="padding: 0; margin-top: 5px;">
                                        <div class="logo">
                                            <a href="/">
                                                <img src="~/images/restaurants/tacobell.png" alt="Restaurant Title" onerror="this.style.display='none'" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" style="padding-right: 0;">
                                        <h5>Restaurant Title</h5>
                                        <p>Reserved on 02/04/17</p>
                                        <p class="small-info">For 4 people in the Booth section</p>
                                        <button type="button" class="btn btn-dark btn-sm">Reserve Again</button>
                                    </div>
                                </div>
                                <!-- RECENT RESTAURANT LISTING -->
                                <div class="row recent-restaurant align-items-start">
                                    <div class="col-lg-3" style="padding: 0; margin-top: 5px;">
                                        <div class="logo">
                                            <a href="/">
                                                <img src="~/images/restaurants/tacobell.png" alt="Restaurant Title" onerror="this.style.display='none'" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" style="padding-right: 0;">
                                        <h5>Restaurant Title</h5>
                                        <p>Reserved on 02/04/17</p>
                                        <p class="small-info">For 4 people in the Booth section</p>
                                        <button type="button" class="btn btn-dark btn-sm">Reserve Again</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
