@model Restaurant

@{
    ViewData["Title"] = "Listing - " + Model.Name;
}

<head>
    <style>
        #map {
            height: 400px;
            width: 50%;
        }
    </style>
</head>

<body>
<div class="container-fluid" style="background: #5d7337; padding-top: 80px; padding-bottom: 70px;">
    <div class="container text-center">
        <h1 id="restaurant-title" style="font-size: 50px; color: #fff;">@Model.Name</h1>
        <h4 id="restaurant-wait-time" style="color: #fff; font-size: 20px; margin-bottom: 30px;"><b>Wait time:</b> 20 minutes</h4>
        @foreach (var tag in Model.Tags)
        {
            <button id="restauraunt-keyword-1" type="button" class="btn btn-outline-light" style="margin: 5px;">@tag</button>
        }
        
    </div>
</div>
<div class="container">
    <div class="row justify-content-lg-center" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="col-lg-8">
            <p id="restaurant-description" style="text-align: justify; margin-bottom: 40px;">@Model.Description</p>
            <div class="row" style="background: #dddddd; padding: 30px 20px; border-radius: 5px; box-shadow: inset 0 0 5px rgba(0,0,0,0.2)">
                <div class="col-lg-6 align-self-center text-left">
                    <h4 class="display-4" style="margin: 0; font-size: 20px;">Ready to get started?</h4>
                </div>
                <div class="col-lg-6 align-self-center text-right">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#reserveSeat">Reserve My Seat</button>
                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-lg-4 text-center">
                    <img id="restaurant-logo" src="~/images/restaurants/@Model.ImagePath" style="max-width: 100%; max-height: 180px;" />
                </div>
                <div class="col-lg-7 offset-1" id="restaurant-info">
                    @if (Model.Stats.TotalRatings > 0)
                    {
                        <p><i class="fas fa-star" style="color: #ffc107"></i><span id="restaurant-rating"><b>@Model.Stats.Rating stars</b> based on @Model.Stats.TotalRatings reviews</span></p>
                    }
                    else
                    {
                        <p><i class="fas fa-star" style="color: #ffc107"></i><span id="restaurant-rating"><b>No Reviews</b></span></p>
                    }
                    <p>
                        <i class="fas fa-utensils"></i><span id="restaurant-menu">
                            <a href="https://www.google.com/" target="_blank"><b>View Menu</b></a>
                        </span>
                    </p>
                    <p><i class="fas fa-credit-card"></i><span id="restaurant-prices">$30 and under per person</span></p>
                    <p><i class="fas fa-map-marker-alt"></i><span id="restaurant-location">@Model.Address, @Model.City, @Model.State @Model.ZipCode </span></p>
                    <p><i class="fas fa-phone"></i><span id="restaurant-phone">+1 @Model.PhoneNumber</span></p>
                    <p>
                        <i class="fas fa-external-link-square-alt"></i><span id="restaurant-site">
                            <a href="https://www.google.com/" target="_blank">https://www.google.com/</a>
                        </span>
                    </p>
                    <p>
                        <i class="fas fa-clock"></i><span id="restaurant-hours">
                            <b>Sunday:</b> 10am - 9pm <br />
                            <b>Monday:</b> 9am - 9pm <br />
                            <b>Tuesday:</b> 9am - 9pm <br />
                            <b>Wednesday:</b> 9am - 9pm <br />
                            <b>Thursday:</b> 9am - 9pm <br />
                            <b>Friday:</b> 9am - 10pm <br />
                            <b>Saturday:</b> 9am - 10pm <br />
                        </span>
                    </p>
                    <div class="border">
                        <form asp-action="SendRating" type="submit">
                            <div class="form-group">
                                <label for="reservePartySize"><b>Select the amount of stars</b></label>
                                <select name="rating" class="form-control white-bg">
                                    <option value="0">0 Stars</option>
                                    <option value="1">1 Star</option>
                                    <option value="2">2 Stars</option>
                                    <option value="3">3 Stars</option>
                                    <option value="4">4 Stars</option>
                                    <option value="5">5 Fantastical Stars!</option>
                                </select>
                            </div>
                            <input hidden name="restaurant_id" value="@Model.Id" />
                            <a id="showCommentBox"><b>Leave Comment</b></a>
                            <div class="form-group">
                                <textarea maxlength="250" id="commentBox" name="comment" class="form-control white-bg"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Submit Review</button>
                        </form>
                    </div>
                </div>
            </div>
            @foreach (var rating in Model.Ratings)
            {
                <div class="border">
                    <a><b>Rating: </b></a>
                    @if (Model.Stats.TotalRatings > 0)
                    {
                        for (int i = 0; i < (int)rating.Rating; i++)
                        {
                            <i class="fas fa-star"></i>
                        }

                        for (int i = 5; i > (int)rating.Rating; i--)
                        {
                            <i class="far fa-star"></i>
                        }
                    }
                    else
                    {
                        <a><b>No Reviews</b></a>
                    }

                    <a><b>Comment: @rating.Comment</b></a>
                </div>

            }
        </div>
    </div>
       
    <!--GOOGLE MAPS STUFF-->
    <div id="googlemap">
        <div id="floating-panel" style="display:none;">
            <input id="address" type="textbox" value="@Model.Address">
        </div>
        <div id="map"></div>
        <script>
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: { lat: -34.397, lng: 150.644 }
                });
                var geocoder = new google.maps.Geocoder();
                geocodeAddress(geocoder, map);
            }

            function geocodeAddress(geocoder, resultsMap) {
                var address = document.getElementById('address').value;
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status === 'OK') {
                        resultsMap.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: resultsMap,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfBylWQ5799KJI6ytzM3_uRYTqWVAphDo&callback=initMap">
        </script>
    </div>
    <!--END OF GOOGLE MAPS STUFF-->
</div>

<div class="modal fade" id="reserveSeat" tabindex="-1" role="dialog" aria-labelledby="reserveSeat" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reserve a seat at @Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="ReserveAction" type="submit">
                    <img style="max-width: 100%; margin: 0 auto 20px auto;" src="http://4.bp.blogspot.com/-3FSnC6TQ5iM/T9XAuQUhHOI/AAAAAAAABGA/doakEq5PsXM/s1600/restaurant+layout.jpg" />
                    <div class="form-group">
                        <label for="reservePartySize">Party Size</label>
                        <select id="guests" name="guests" class="form-control white-bg">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="reserveSection">Preferred Seating Section</label>
                        <select id="section" name="section" class="form-control white-bg">
                            <option value="table">Table</option>
                            <option value="booth">Booth</option>
                            <option value="bar">Bar</option>
                            <option value="patio">Patio</option>
                            <option value="second floor">Second Floor</option>
                        </select>
                    </div>
                    <div class="form-group" style="display:none;">
                        <select id="restaurant_id" name="restaurant_id" class="form-control white-bg">
                            <option value="@Model.Id"></option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Confirm reservation</button>
                </form>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>
</body>