@model SearchContent

@{ 
    var results = Model.Results;
    var query = Model.Query;

    if (query[0].Equals('#'))
    {
        query = query.Substring(1);
    }
}

@{
    ViewData["Title"] = "Search";
}

<div class="container-fluid body-content sn-image sn8 fade70" style="color: #fff; padding: 50px 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <form asp-action="SearchRestaurants" class="form-inline my-2 my-lg-0" style="max-width: 700px; margin: 0 auto;">
                    <input class="form-control mr-sm-2" name="searchquery" id="searchquery" type="search" placeholder="Search for a restaurant or keyword" aria-label="Search" style="width: calc(100% - 80px);">
                    <button class="btn btn-sn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-top: 50px; padding-bottom: 20px;">
        <div class="col-lg-8 offset-2">

            @if(results != null)
            {
                <h3 class="display-4" style="font-size: 40px; text-align: center; margin-bottom: 50px; color: #5d7337">@results.Count Result(s) related to "@query"</h3>
            }
            else
            {
                <h3 class="display-4" style="font-size: 40px; text-align: center; margin-bottom: 50px; color: #5d7337">No Result(s) related to "@query"</h3>

            }

            @foreach (var result in results)
            {
                if (result.Name.ToLower().Equals(query.ToLower()))
                {
                    <div class="sn-listing">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="~/Restaurant/Listing/@result.ID">
                                    <img src="~/images/restaurants/@result.ImagePath" alt="Restaurant Title" onerror="this.style.display='none'"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-sm-left">
                            <h3 class="restaurant-title"><a href="~/Restaurant/Listing/@result.ID">@result.Name</a></h3>
                            <span class="restaurant-location"><a href="~/Restaurant/Listing/@result.ID">@result.Address, @result.City, @result.ZipCode  @result.State</a></span>
                            <div class="keywords">
                                @foreach (var tag in result.Tags)
                                {
                                    <button type="button" class="btn btn-light btn-sm">@tag</button>
                                }
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <div class="ratings">
                                @if (result.Stats.TotalRatings > 0)
                                {
                                    for (int i = 0; i < (int)result.Stats.Rating; i++)
                                    {
                                        <i class="fas fa-star"></i>
                                    }

                                    for (int i = 5; i > (int)result.Stats.Rating; i--)
                                    {
                                        <i class="far fa-star"></i>
                                    }
                                    <a class="ratings-link" href="~/Restaurant/Listing/@result.ID">Based on @result.Stats.TotalRatings reviews</a>
                                }
                                else
                                {
                                    <a><b>No Reviews</b></a>
                                }
                            </div>
                            <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                        </div>
                    </div>
                </div>

                }

            }


            @foreach (var result in results)
            {
                if (!result.Name.ToLower().Equals(query.ToLower()))
                {
                <div class="sn-listing">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="/">
                                    <img src="~/images/restaurants/@result.ImagePath" alt="Restaurant Title" onerror="this.style.display='none'" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-sm-left">
                            <h3 class="restaurant-title"><a href="/">@result.Name</a></h3>
                            <span class="restaurant-location"><a href="/">@result.Address, @result.City, @result.ZipCode  @result.State</a></span>
                            <div class="keywords">
                                @foreach (var tag in result.Tags)
                                {
                                    <button type="button" class="btn btn-light btn-sm">@tag</button>
                                }
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <div class="ratings">
                                @if (result.Stats.TotalRatings > 0)
                                {
                                    for (int i = 0; i < (int)result.Stats.Rating; i++)
                                    {
                                        <i class="fas fa-star"></i>
                                    }

                                    for (int i = 5; i > (int)result.Stats.Rating; i--)
                                    {
                                        <i class="far fa-star"></i>
                                    }
                                    <a class="ratings-link" href="~/Restaurant/Listing/@result.ID">Based on @result.Stats.TotalRatings reviews</a>
                                }
                                else
                                {
                                    <a><b>No Reviews</b></a>
                                }
                            </div>
                            <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                        </div>
                    </div>
                </div>
                }
            }

        </div>
    </div>
</div>