@model SeatedNow.Models.Restaurant

<div>
    <ul class="list-group">
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.Id)</b> <br />
            @Html.DisplayFor(model => model.Id)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.Name)</b> <br />
            @Html.DisplayFor(model => model.Name)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.Address)</b> <br />
            @Html.DisplayFor(model => model.Address)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.City)</b> <br />
            @Html.DisplayFor(model => model.City)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.ZipCode)</b> <br />
            @Html.DisplayFor(model => model.ZipCode)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.State)</b> <br />
            @Html.DisplayFor(model => model.State)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.PhoneNumber)</b> <br />
            @Html.DisplayFor(model => model.PhoneNumber)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.ImagePath)</b> <br />
            @Html.DisplayFor(model => model.ImagePath)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.OwnerId)</b> <br />
            @Html.DisplayFor(model => model.OwnerId)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.IsVerified)</b> <br />
            @Html.DisplayFor(model => model.IsVerified)
        </li>
    </ul>
</div>
