@model SeatedNow.Models.UserAccount

<div>
    <ul class="list-group">
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.UserID)</b> <br />
            @Html.DisplayFor(model => model.UserID)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.Name)</b> <br />
            @Html.DisplayFor(model => model.Name)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.Email)</b> <br />
            @Html.DisplayFor(model => model.Email)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.PhoneNumber)</b> <br />
            @Html.DisplayFor(model => model.PhoneNumber)
        </li>
        <li hidden class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.Password)</b> <br />
            @Html.DisplayFor(model => model.Password)
        </li>
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.Role)</b> <br />
            @Html.DisplayFor(model => model.Role)
        </li>
    </ul>
</div>

