@model IEnumerable<SideAdminRestaurantListViewModel>

@{
    ViewData["Title"] = "Restaurant Management";
}

<div class="container" style="width: 900px;">
    <h1 class="text-center display-4" style="margin-top: 50px; margin-bottom: 20px;">Restaurants</h1>

    <p class="text-center">
        @Html.ActionLink("Create New Restaurant", "Create", new { }, new { onclick = "loadCreateRestaurant(); return false;", @class = "btn btn-success" })
    </p>
    <table class="table table-bordered" style="margin-top: 50px; margin-bottom: 50px;">
        <thead class="thead-light">
            <tr>
                <th class="text-center" style="text-transform: uppercase; width: 70px;">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-center" style="width: 120px;">
                    @Html.DisplayNameFor(model => model.IsVerified)
                </th>
                <th class="text-center" style="width: 240px;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center" style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        @Html.CheckBoxFor(modelItem => item.IsVerified, new { @disabled = "disabled" })
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary" onclick="loadUpdateRestaurant(@item.Id); return false; ">Edit</button>
                        <button class="btn btn-secondary" onclick="loadDetailsRestaurant(@item.Id); return false; ">Details</button>
                        @Html.ActionLink("Delete", "SendDeleteRestaurant", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="test" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="testTitle">Update Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="update-modal-body">
                    Loading...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" form="updateRestaurantForm" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="test" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="testTitle">Create Restaurant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="create-modal-body">
                    Loading...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" form="createRestaurantForm" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="test" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="testTitle">Restaurant Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="details-modal-body">
                    Loading...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
